//Variables

// site colors
$white: #ffffff;
$black: #0f0f0f;
$primary: #8d9aad;
$primary-medium: #435A7B;
$primary-dark: #172D4E;
$bg-gray: #fafafa;
$light-gray: #eeeeee;
$gray: #bdbdbd;
$medium-gray: #9e9e9e;
$dark-gray: #22252c;


// Define your breakpoints
$desktop: "1601px";

$laptop: "1401px";

$small-laptop: "1201px";

$big-tablet: "1025px";

$tablet: "769px";

$mobile: "480px";
