.callout {
  $root: &;

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &--uncontained {
      padding: 0;
    }
    
    @include media($mobile) {
      width: 90%;
      padding: 75px 0;
    }

    @include media($tablet) {
      width: 80%;
      text-align: left;
    }

    img {
      max-width: 100%;
    }
  }

  &__info-block {
    width: 90%;
    margin: 50px 0;
    padding: 15px;
    text-align: left;

    @include media($mobile) {
      padding: 15px 25px;
    }

    @include media($tablet) {
      width: 60%;
    }

    &:last-child {
      margin: 50px 0 0 0;
    }

    a {
      color: $primary;
      text-decoration: underline;

      &:hover {
        color: $primary-dark;
      }
    }

    &--highlight {
      border-left: 3px solid $primary;
    }
  }

  &__title {
    font-family: Aleo, serif;
    font-weight: normal;
    font-size: 1.75rem;
    text-transform: none;
    margin: 0 0 10px 0;
    padding: 0;

    @include media($mobile) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 0;
    text-transform: none;

    @include media($mobile) {
      font-size: 1.15rem;
      line-height: 2rem;
    }

    span {
      font-style: italic;
    }
  }

  .callout__subtitle + .button {
    margin: 50px 0 0 0;
  }

  &__subheading {
    display: inline-block;
    color: $medium-gray;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    margin-bottom: 22px;
    padding-bottom: 3px;

    &--underline {
      border-bottom: 1px solid $medium-gray;
    }
  }

  &--gray {
    background-color: $bg-gray;
  }

  &--dark-gray {
    background-color: $dark-gray;

    #{$root}__title, #{$root}__subtitle {
      color: $white;
    }

    #{$root}__subheading {
      margin-bottom: 50px;
      color: $light-gray;

      &--underline {
        border-bottom: 1px solid $light-gray;
      }
    }
  }

  &--light-border {
    border-bottom: 1px solid $light-gray;
  }

  &--border {
    border-bottom: 1px solid $medium-gray;
  }

  &--uncontained {

    #{$root}__container {
      width: 100%;
    }
  }

  &--no-padding {
    #{$root}__container {
      padding: 0;
    }
  }

  &--vert-top {
    #{$root}__container {
      align-items: flex-start;
    }
  }
}
