.column {
  $root: &;

  img {
    width: 100%;
  }

  &--three {
    width: 100%;
    border-top: 1px solid $light-gray;
    padding: 50px 0;
    margin: 0;

    @include media($mobile) {
      width: 33.3333%;
      border-right: 1px solid $light-gray;
      padding: 50px 35px;
      min-height: 250px;
    }
  }

  &--two {
    width: 100%;
    border-top: 1px solid $light-gray;
    padding: 50px 0;
    margin: 0;

    @include media($mobile) {
      width: 50%;
      border-right: 1px solid $light-gray;
      padding: 50px 35px;
      min-height: 250px;
    }
  }

  &:last-child {
    border-right: 0;
  }

  &__category {
    color: $medium-gray;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-size: 0.875rem;
    margin: 0 0 25px 0;
    padding: 0;
  }

  &__title {
    font-family: Aleo, serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: $black;
    margin: 0;
    padding: 0;
  }

  &__description {
    font-size: 1rem;
    color: $dark-gray;
    margin: 25px 0 0 0;
    padding: 0;
    line-height: 2rem;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        color: $primary-dark;
      }
    }

    span {
      color: $primary;
    }
  }

  &--no-border {
    border: 0;
  }

  &--uncontained {
    padding: 0;
  }
}
