.column {
  $root: &;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include media($tablet) {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &--vert-centered {
    align-items: center;
  }

  img {
    width: 100%;
  }

  .column-wrapper {
    position: relative;
    padding: 25px;
    flex-grow: 1;
    flex-basis: 0;

    @include media($tablet) {
      padding: 50px 35px;
    }

    &:hover {
      text-decoration: none;

      .column-wrapper__title {
        color: $primary;
        transition: all 0.3s ease;
      }
    }

    &--main-image {
      width: percentage(1);
      flex-basis: auto;

      @include media($tablet) {
        width: percentage(2/3);
      }
    }

    &--copy {
      width: percentage(1);
      flex-basis: auto;

      @include media($tablet) {
        width: percentage(1/3);
      }
    }

    &--image {
      padding: 0;
    }

    &--two-image {
      padding: 0 0 10px 0;

      &:last-child {
        padding: 0;
      }
      
      @include media($mobile) {
        padding: 0 10px 0 0;

        &:last-child {
          padding: 0;
        }
      }
    }

    &--border {
      border-top: 1px solid $light-gray;

      @include media($tablet) {
        border-right: 1px solid $light-gray;
      }

      &:last-child {
        border-right: 0;
      }
    }

    &--no-hover {
      text-decoration: none;

      &:hover {
        .column-wrapper__title {
          color: $black;
        }
      }
    }

    &--uncontained {
      padding: 0;
    }

    &--contained {
      padding: 25px 10px;
  
      @include media($tablet) {
        padding: 0;
      }
    }

    &__category {
      color: $medium-gray;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      font-size: 0.875rem;
      margin: 0;
      padding: 0;
    }

    &__title {
      font-family: Aleo, serif;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: $black;
      margin: 0;
      padding: 25px 0 0 0;
    }

    .column__description + .column__description {
      padding: 25px 0;
    }

    &__description {
      font-size: 1rem;
      color: $dark-gray;
      padding: 0;
      margin: 0;
      line-height: 2rem;

      a {
        text-decoration: underline;

        &:hover {
          text-decoration: underline;
          color: $primary-dark;
        }
      }

      span {
        color: $primary;
      }
    }
  }
}
