.footer {
  background-color: $white;
  padding: 50px 0;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__nav {
    text-align: center;
  }

  &__nav-divider {
    padding: 0 5px;
  }

  &__logo {
    display: block;
    text-align: center;
    margin: 30px 0 15px 0; 
  }

  img {
    max-width: 50px;
  }

  &__copyright {
    color: $black;
    font-family: Aleo, serif;
    margin: 0;
    text-align: center;
    font-weight: 400;
  }
}
