.nav-header {
  $root: &;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  z-index: 100;

  &__container {
    width: 90%;
    padding: 25px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include media($tablet) {
      width: 80%;
    }
  }

  &--fixed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 700;
    width: 100%;
  }

  &__logo {
    width: auto;
    text-align: left;

    img {
      max-width: 60px;
    }
  }

  &__menu {
    display: flex;
    right: 0;
    margin: 0 0 0 auto;
    align-items: center;

    .contact {
      font-size: 1rem;
      font-weight: 400;
      padding: 10px 30px;
      color: $primary-dark;
      text-decoration: none;
      border: 1px solid $primary-dark;
      background-color: $white;
      text-transform: uppercase;
      letter-spacing: 0.1rem;

      &:hover {
        border: 1px solid $primary-dark;
        background-color: $primary-dark;
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease;
      }
    }

    .menu {
      border: 0;
      background-color: transparent;

      i {
        font-size: 1.5rem;
        color: $primary-dark;
        padding: 0 30px;
      }
    }
  }
}
