.nav-header {
  background-color: $white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  z-index: 100;

  &__container {
    width: 85%;
    padding: 25px 0;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    @include media($mobile) {
      width: 80%;
    }
  }

  &__logo {
    width: auto;
    text-align: left;

    img {
      max-width: 60px;
    }
  }

  &__menu {
    display: flex;
    right: 0;
    margin: 0 0 0 auto;

    &:hover {
      color: $primary-dark;
      transition: all 0.3s ease;
    }

    a {
      font-size: 1.25rem;
      font-weight: 700;
      padding: 5px 15px;
      color: $primary;
      text-decoration: none;
      border: 2px solid $primary;
      background-color: $white;

      @include media($mobile) {
        margin: 0 10px;
      }

      &:hover {
        border: 2px solid $primary-dark;
        background-color: $primary-dark;
        color: $white;
        text-decoration: none;
      }
    }
  }
}
