.hero {
  $root: &;
  background-color: $white;
  min-height: calc(70vh - 100px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media($big-tablet) {
    min-height: calc(100vh - 100px);
  }

  &__container {
    width: 100%;
    margin: 0 auto;
    padding: 50px 25px;
    justify-content: center;

    @include media($mobile) {
      width: 90%;
      padding: 50px 0;
    }

    @include media($tablet) {
      width: 80%;
    }

    &:before {
      content: " ";
      display: table;
    }
  }

  &__title {
    color: $dark-gray;
    font-size: 2.5rem;
    text-transform: none;
    font-weight: 700;
    padding: 0;
    margin: 0;

    @include media($tablet) {
      font-size: 4rem;
    }
  }

  &__subtitle {
    color: $primary;
    font-family: Aleo, serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: normal;
    padding: 25px 0 50px 0;
    margin: 0;

    @include media($tablet) {
      font-size: 2rem;
    }
  }

  &__contact {
    position: relative;
    padding: 75px 0 0 0;
    display: flex;

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &--contained {
    #{$root}__container {
      width: 85%;

      @include media($tablet) {
        width: 50%;
      }
    }
  }

  &--column {
    min-height: auto;

    #{$root}__container {
      justify-content: center;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
}
