body, html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  color: $black;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: $primary-dark;
    transition: all 0.3s ease;
  }
}

@font-face {
    font-family: Aleo;
    src: url(/assets/fonts/aleo-regular-webfont.woff);
    font-size: normal;
}

/* Italic */
@font-face {
    font-family: Aleo;
    src: url(/assets/fonts/aleo-italic-webfont.woff);
    font-style: italic;
}

/* Italic */
@font-face {
    font-family: Aleo;
    src: url(/assets/fonts/aleo-bold-webfont.woff);
    font-weight: bold;
}
