{% extends "default.html" %}

{% block content %}

<section class="hero hero--column">
  <div class="hero__container">
    <div class="column column--three column--no-border">
      <div class="column__category">
        Challenge
      </div>
      <div class="column__title" href="https://www.traceable.com">
        #DailyUI
      </div>
      <div class="column__description">
        <a href="www.dailyui.co" target="_blank">dailyui.co</a> provides daily ui prompts that challenge, motivate, and inspire designers to create without limitations.
      </div>
    </div>
    <div class="column column--three column--no-border">
      <div class="column__category">
        Role
      </div>
      <div class="column__title">
        UI Design
      </div>
      <div class="column__description">
        Participate in a 100-day UI challenge
      </div>
    </div>
    <div class="column column--three column--no-border">
      <div class="column__category">
        Overview
      </div>
      <div class="column__title">
        Become a better designer in 100 days
      </div>
      <div class="column__description">
        Challenge my skills and creativity through design prompts for web and mobile. Discover and practice using software designed to eliminate time sink in a development team.
      </div>
    </div>
  </div>
</section>

{% endblock %}