{% extends "default.html" %}

{% block content %}

<section class="hero hero--column">
  <div class="hero__container">
    <div class="column">
      <div class="column-wrapper column-wrapper--no-hover">
        <div class="column-wrapper__category">
          Challenge
        </div>
        <div class="column-wrapper__title">
          #DailyUI
        </div>
        <div class="column-wrapper__description">
          <a href="http://www.dailyui.co" target="_blank">dailyui.co</a> provides daily ui prompts that challenge, motivate, and inspire designers to create without limitations.
        </div>
      </div>
      <div class="column-wrapper column-wrapper--no-hover">
        <div class="column-wrapper__category">
          Role
        </div>
        <div class="column-wrapper__title">
          UI Design
        </div>
        <div class="column-wrapper__description">
          Participate in a 100-day UI challenge.
        </div>
      </div>
      <div class="column-wrapper column-wrapper--no-hover">
        <div class="column-wrapper__category">
          Overview
        </div>
        <div class="column-wrapper__title">
          Become a better designer in 100 days
        </div>
        <div class="column-wrapper__description">
          Challenge my skills and creativity through design prompts for web and mobile. Discover and practice using software designed to eliminate time sink in a development team.
        </div>
      </div>
    </div>
  </div>
</section>


<section class="callout callout--uncontained callout--gray">
  <div class="callout__container">

    <!-- daily ui 005 -->
    <div data-aos="fade" class="callout__info-block callout__info-block--highlight">
      <div class="callout__subheading">Daily UI #005</div>
      <div class="callout__title">Calculator</div>
      <div class="callout__subtitle">
        <span>Design a calculator. Standard, scientific, or specialty calculator for something such as a mortgage? Is it for a phone, a tablet, a web app?</span>
        <br><br>
        How easy would traveling be if you could calculate and convert currency within the same app? It may be difficult to remember the exchange rate or do the calculations on the spot without a tool, so this currency calulator is the fix to your purchasing worries abroad!
      </div>
    </div>
    <div class="column">
      <div class="column-wrapper column-wrapper--image">
          <img src="/assets/dailyui005.jpg" />
      </div>
    </div>
    <!-- end daily ui 005 -->

    <!-- daily ui 004 -->
    <div class="callout__info-block callout__info-block--highlight">
      <div class="callout__subheading">Daily UI #004</div>
      <div class="callout__title">App Icon</div>
      <div class="callout__subtitle">
        <span>Design an app icon. What best represents the brand or product? Or is it incredibly unique? Does it look great at a distance and does it stand out when put on your home screen alongside other apps?</span>
        <br><br>
        An app icon for a travel budgeting app.
      </div>
    </div>
    <div class="column">
      <div class="column-wrapper column-wrapper--image">
        <img src="/assets/dailyui004.jpg" />
      </div>
    </div>
    <!-- end daily ui 004 -->

    <!-- daily ui 003 -->
    <div class="callout__info-block callout__info-block--highlight">
      <div class="callout__subheading">Daily UI #003</div>
      <div class="callout__title">Landing Page (above the fold)</div>
      <div class="callout__subtitle">
        <span>What's the main focus? Is it for a book, an album, a mobile app, a product? Consider important landing page elements (call-to-actions, clarity, etc.)</span>
        <br><br>
        A simple music player for one of my favorite artists, Kendrick Lamar.
      </div>
    </div>
    <div class="column">
      <div class="column-wrapper column-wrapper--two-image">
        <img src="/assets/dailyui003.jpg" />
      </div>
      <div class="column-wrapper column-wrapper--two-image">
        <img src="/assets/dailyui003-animate.gif" />
      </div>
    </div>
    <!-- end daily ui 003 -->

    <!-- daily ui 002 -->
    <div class="callout__info-block callout__info-block--highlight">
      <div class="callout__subheading">Daily UI #002</div>
      <div class="callout__title">Checkout Page</div>
      <div class="callout__subtitle">
        <span>Design a credit card checkout form or page. Don't forget the important elements such as the numbers, dates, security numbers, etc. (It's up to you!)</span>
        <br><br>
        I designed a mobile checkout page for an airline. My main objective is to make the itinerary stand out enough so that the user fully understands what flight they are booking. I am terrified of booking the wrong flight, so having the information at the top is reassuring.
      </div>
    </div>
    <div class="column">
      <div class="column-wrapper column-wrapper--image">
        <img src="/assets/dailyui002.jpg" />
      </div>
    </div>
    <!-- end daily ui 002 -->

    <!-- daily ui 001 -->
    <div class="callout__info-block callout__info-block--highlight">
      <div class="callout__subheading">Daily UI #001</div>
      <div class="callout__title">Sign Up</div>
      <div class="callout__subtitle">
        <span>Design a sign up page, modal, form, app screen, etc.</span>
        <br><br>
        I decided to keep it simple with the design and add smooth but subtle transitions to enhance the experience.
      </div>
    </div>
    <div class="column">
      <div class="column-wrapper column-wrapper--two-image">
        <img src="/assets/dailyui001.jpg" />
      </div>
      <div class="column-wrapper column-wrapper--two-image">
        <img src="/assets/dailyui001-animate.gif" />
      </div>
    </div>
    <!-- end daily ui 001 -->
  </section>


  {% endblock %}
