{% extends "default.html" %}

{% block content %}
<section class="hero">
	<div class="hero__container">
		<h1 class="hero__title">Hi, I’m Elain Tsai —<br>I design and build digital products</h1>
		<h2 class="hero__subtitle">that are beautiful, intentional, and empowering for diverse audiences.</h2>
		<a href="mailto:contact@elaintsai.com" target="_blank" class="button--underline button--large">Let's Work Together!</a>
		<div class="hero__contact">
			<a href="contact@elaintsai.com" target="_blank" class="button--social"><i class="fa fa-envelope"></i></a>
			<a href="https://www.linkedin.com/in/elaintsai" target="_blank" class="button--social"><i class="fa fa-linkedin"></i></a>
			<a href="https://www.dribbble.com/elaintsai" target="_blank" class="button--social"><i class="fa fa-dribbble"></i></a>
			<a href="https://www.instagram.com/elaindesigns" target="_blank" class="button--social"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</section>

<section class="callout callout--no-padding">
	<div class="callout__container">
		<a class="column column--three" href="/traceable.html">
			<div class="column__category">
				Projects
			</div>
			<div class="column__title">
				Collection of work from current and previous clients.
			</div>
		</a>
		<a class="column column--three" href="/daily-ui.html">
			<div class="column__category">
				Challenge
			</div>
			<div class="column__title">
				Becoming a better designer with the #dailyui challenge.
			</div>
		</a>
		<a class="column column--three" href="http://elainoo.com" target="_blank">
			<div class="column__category">
				Blog
			</div>
			<div class="column__title">
				Personal outlet for my interests in fashion, travel, and health & fitness.
			</div>
		</a>
	</div>
</section>

<section class="callout callout--traceable callout--uncontained">
	<div class="callout__container">
		<div data-aos="fade-up" class="column column--two column--no-border column--uncontained">
			<img src="/assets/traceable-home.jpg" alt="Traceable Products"/>
		</div>

		<div data-aos="fade-up" class="column column--two column--no-border">
			<div class="callout__title">
				Traceable<sup>&reg;</sup> Products
			</div>
			<div class="callout__subtitle">
				UI/UX, Product Design, and Front-End Development
			</div>
			<a href="/traceable.html" class="button button--white">
				View Project
			</a>
		</div>
	</div>
</section>
{% endblock %}