{% extends "default.html" %}

{% block content %}
<section class="hero">
	<div class="hero__container">
		<h1 class="hero__title">Hi, I’m Elain Tsai —<br>I design and build digital products</h1>
		<h2 class="hero__subtitle">that are intentional, empowering, and sustainable for diverse audiences.</h2>
		<a href="mailto:contact@elaintsai.com" target="_blank" class="link link--underline-anim link--large">Let's Work Together!</a>
		<div class="hero__contact">
			<a href="contact@elaintsai.com" target="_blank" class="button--social"><i class="fa fa-envelope"></i></a>
			<a href="https://www.linkedin.com/in/elaintsai" target="_blank" class="button--social"><i class="fa fa-linkedin"></i></a>
			<a href="https://www.dribbble.com/elaintsai" target="_blank" class="button--social"><i class="fa fa-dribbble"></i></a>
			<a href="https://www.instagram.com/elaindesigns" target="_blank" class="button--social"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
</section>

<section class="callout callout--no-padding callout--vert-top">
	<div class="callout__container">
		<div class="column">
			<a class="column-wrapper column-wrapper--border" href="/projects.html">
				<div class="column-wrapper__category">
					Projects
				</div>
				<div class="column-wrapper__title">
					Collection of work from current and previous clients.
				</div>
			</a>
			<a class="column-wrapper column-wrapper--border" href="/daily-ui.html">
				<div class="column-wrapper__category">
					Challenge
				</div>
				<div class="column-wrapper__title">
					Becoming a better designer with the #dailyui challenge.
				</div>
			</a>
			<a class="column-wrapper column-wrapper--border" href="http://elainoo.com" target="_blank">
				<div class="column-wrapper__category">
					Blog
				</div>
				<div class="column-wrapper__title">
					Personal outlet for my interests in fashion, travel, and health & fitness.
				</div>
			</a>
		</div>
	</div>
</section>

<section class="callout callout--dark-gray callout--uncontained">
	<div class="callout__container">
		<div class="column column--vert-centered">
			<div data-aos="fade-up" class="column-wrapper column-wrapper--uncontained column-wrapper--main-image">
				<img src="/assets/traceable-display.jpg" alt="Traceable Products"/>
			</div>

			<div data-aos="fade-up" class="column-wrapper column-wrapper--copy column-wrapper--mobile-contained">
				<div class="callout__subheading callout__subheading--underline">
					Featured Project
				</div>
				<div class="callout__title">
					Traceable Products
				</div>
				<div class="callout__subtitle">
					UI/UX and Front-End Development
				</div>
				<a href="/projects/traceable.html" class="button button--white">
					View Project
				</a>
				<a href="/projects.html" class="link link--underline-anim link--white">
					See More Projects&nbsp;&nbsp;&rarr;
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}
