{% extends "default.html" %}

{% block content %}

<section class="callout callout--dark-gray callout--uncontained callout--light-border">
	<div class="callout__container">
		<div class="column column--vert-centered">
			<div data-aos="fade" class="column-wrapper column-wrapper--uncontained column-wrapper--main-image">
				<img src="/assets/traceable-display.jpg" alt="Traceable Products"/>
			</div>

			<div data-aos="fade" class="column-wrapper column-wrapper--copy column-wrapper--contained">
				<div class="callout__subheading callout__subheading--underline">
					Featured Project
				</div>
				<div class="callout__title">
					Traceable Products
				</div>
				<div class="callout__subtitle">
					UI/UX and Front-End Development
				</div>
				<a href="/projects/traceable.html" class="button button--white">
					View Project
				</a>
			</div>
		</div>
	</div>
</section>

<section class="callout callout--dark-gray callout--uncontained callout--light-border">
		<div class="callout__container">
			<div class="column column--vert-centered">
				<div data-aos="fade" class="column-wrapper column-wrapper--uncontained column-wrapper--main-image">
						<img src="/assets/lgb-display.jpg" alt="Lost Golf Balls"/>
					</div>

				<div data-aos="fade" class="column-wrapper column-wrapper--copy column-wrapper--contained">
					<div class="callout__subheading callout__subheading--underline">
						2017
					</div>
					<div class="callout__title">
						Lost Golf Balls
					</div>
					<div class="callout__subtitle">
						UI/UX and Front-End Development
					</div>
					<a href="/projects/lostgolfballs.html" class="button button--white">
						View Project
					</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
