{% extends "default.html" %}

{% block content %}

<section class="hero hero--column">
	<div class="hero__container">
		<div class="column">
			<div class="column-wrapper column-wrapper--no-hover">
				<div class="column-wrapper__category">
					Ecommerce
				</div>
				<div class="column-wrapper__title">
					Lost Golf Balls
				</div>
				<div class="column-wrapper__description">
                    provides great deals on golf balls that have only been hit once or twice. Founded in 1992, Lost Golf Balls has
                    recovered, processed, and marketed over 50,000,000 pre-owned/used/recycled golf balls each year to golfers in 40 countries.
					<br>
					<a href="https://www.lostgolfballs.com" target="_blank">Visit Website</a>
				</div>
			</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Role
			</div>
			<div class="column-wrapper__title">
				UI/UX and Front-End Development
			</div>
			<div class="column-wrapper__description">
                <span>2017 |</span> Coordinated with full stack engineer to apply <a href="http://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> principles to create a robust and reusable style guide for more consistent and efficient UI.
                <br>
                <a href="http://styleguide.lostgolfballs.com/" target="_blank">View Style Guide</a>
			</div>
		</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Overview
			</div>
			<div class="column-wrapper__title">
				Website Redesign
			</div>
			<div class="column-wrapper__description">
                The goal was to redesign and restructure <a href="https://www.lostgolfballs.com" target="_blank">LostGolfBalls.com</a> from an outdated theme to a cleaner and simpler mobile-friendly website.
                <br>&rarr; Sprint 1: <a href="#homepage-redesign">Homepage Redesign</a>
			</div>
		</div>
	</div>
	</div>
</section>

<section id="homepage-redesign" class="callout callout--uncontained callout--gray">
	<div class="callout__container">
		<div data-aos="fade-up" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">Homepage Redesign</div>
			<div class="callout__title">Simplified Navigation and Banner Displays</div>
			<div class="callout__subtitle">
                Lost Golf Balls customers want to be able to easily access promotions and products, and the overall marketing goal is to generate higher conversion rates. The 2016 iteration of the home page was cluttered and hard to navigate. Additionally, as mobile use increases, the website failed in providing a smooth mobile shopping experience for consumers.
			</div>
		</div>
        <img data-aos="fade-up" src="/assets/lgb-overview.jpg" alt="Traceable Redesign Overview" />
        <div data-aos="fade-up" class="callout__info-block callout__info-block--highlight">
            <div class="callout__title">Navigation</div>
            <div class="callout__subtitle">
                Restructuring the navigation bar was the top prority since it would fix a large portion of the usability and mobile issues on the website. Initially, the main navigation bar was cluttered with links that were not frequently visited, and the category pages were pushed down to the sidebar.
            </div>
        </div>

        

        As an ecommerce website, the main objective is to properly advertise sales and promotions to entice consumers to make a purchase.

	</div>
</section>

{% endblock %}