{% extends "default.html" %}

{% block content %}

<div class="sidebar">
    <div class="sidebar__nav">
        <a href="/projects/traceable.html" class="sidebar__button"><i class="fa fa-angle-left"></i></a>
    </div>
    <div class="sidebar__nav">
        <div class="sidebar__button sidebar__button--disabled"><i class="fa fa-angle-right"></i></div>
    </div>
</div>

<section class="hero hero--column">
	<div class="hero__container">
		<div class="column">
			<div class="column-wrapper column-wrapper--no-hover">
				<div class="column-wrapper__category">
					Ecommerce
				</div>
				<div class="column-wrapper__title">
					Lost Golf Balls
				</div>
				<div class="column-wrapper__description">
                    provides great deals on golf balls that have only been hit once or twice. Founded in 1992, Lost Golf Balls has
                    recovered, processed, and marketed over 50,000,000 pre-owned/used/recycled golf balls each year to golfers in 40 countries.
					<br>
					<a href="https://www.lostgolfballs.com" target="_blank">Visit Website</a>
				</div>
			</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Role
			</div>
			<div class="column-wrapper__title">
				UI/UX and Front-End Development
			</div>
			<div class="column-wrapper__description">
                <span>2017 |</span> Coordinated with full stack engineer to apply <a href="http://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> principles to create a robust and reusable style guide for more consistent and efficient UI.
                <br>
                <a href="http://styleguide.lostgolfballs.com/" target="_blank">View Style Guide</a>
			</div>
		</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Overview
			</div>
			<div class="column-wrapper__title">
				Website Redesign
			</div>
			<div class="column-wrapper__description">
                The goal was to redesign and restructure <a href="https://www.lostgolfballs.com" target="_blank">LostGolfBalls.com</a> from an outdated Magento theme to a cleaner and simpler mobile-friendly website.
				<br>&rarr; <a href="#homepage-redesign">Home Page</a>
				<br>&rarr; <a href="#product-card">Product Card</a>
			</div>
		</div>
	</div>
	</div>
</section>

<section id="homepage-redesign" class="callout callout--uncontained callout--gray callout--light-border">
	<div class="callout__container">
		<div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/lgb-overview.jpg" alt="Lost Golf Balls Redesign Overview" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">Home Page Redesign</div>
			<div class="callout__title">Simplified Navigation and Banner Displays</div>
			<div class="callout__subtitle">
				As an ecommerce website with an older consumer demographic, the goal is to provide an easy shopping experience with promotions and products that are easily accessible and purchased. The previous iteration of the home page was cluttered and hard to navigate. Additionally, as mobile use on the website increased, it failed to provide a smooth mobile shopping experience for customers.
			</div>
		</div>
        <div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/lgb-nav.gif" alt="Navigation Bar" />
			</div>
		</div>
        <div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">The Process</div>
            <div class="callout__subtitle">
				Restructuring the navigation bar was the top prority since it would resolve the usability and mobile issues on the website. Initially, the main navigation bar was cluttered with links that were not frequently visited, and the most important links (category pages) were pushed down to the sidebar.
				<br><br>
				By prioritizing the main category links at the top and removing the left navigation, it cleared up room for the banner displays. Adding them allowed us to feature multiple blocks of important information all at once.
            </div>
        </div>

	</div>
</section>

<section id="product-card" class="callout callout--uncontained callout--gray callout--light-border">
	<div class="callout__container">
		<div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/lgb-product-card.jpg" alt="Product Card" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__title">Product Card</div>
			<div class="callout__subtitle">
                To minimize confusion and create an easier shopping experience for our customers, the product card had to be redesigned to provide more clarity. The new design reduces the amount of time it takes to add products to cart by combining all configurable options into the one card.
			</div>
		</div>
	</div>
</section>

{% endblock %}