{% extends "default.html" %}

{% block content %}

<div class="sidebar">
    <div class="sidebar__nav">
        <div class="sidebar__button sidebar__button--disabled"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="sidebar__nav">
        <a href="/projects/lostgolfballs.html" class="sidebar__button"><i class="fa fa-angle-right"></i></a>
    </div>
</div>

<section class="hero hero--column">
	<div class="hero__container">
		<div class="column">
			<div class="column-wrapper column-wrapper--no-hover">
				<div class="column-wrapper__category">
					Marketing & Ecommerce
				</div>
				<div class="column-wrapper__title">
					Traceable Products
				</div>
				<div class="column-wrapper__description">
					are industry leaders in providing accurate and efficient instruments that use current technology to improve and simplify receiving reliable results imperative to biopharmaceutical and healthcare facilities.
					<br>
					<a href="https://www.traceable.com" target="_blank">Visit Website</a>
				</div>
			</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Role
			</div>
			<div class="column-wrapper__title">
				UI/UX and Front-End Development
			</div>
			<div class="column-wrapper__description">
				<span>2017 - Present |</span> Coordinate with full stack engineer to apply <a href="https://agilemethodology.org/" target="_blank">agile methology</a> and <a href="https://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> principles to create a robust and reusable style guide for more consistent and efficient UI.
			</div>
		</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Overview
			</div>
			<div class="column-wrapper__title">
				Website Redesign
			</div>
			<div class="column-wrapper__description">
				The goal is to restructure and solidify the user experience of the website while maintaining the integrity of the brand. <!--with <a href="http://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> principles in the design and development process. !-->
				<br>&rarr; The Process: <a href="#process">Transformative Design</a>
				<br>&rarr; Sprint 1: <a href="#sprint-1">Home Page & Nav Bar</a>
				<!-- <br>&rarr; Sprint 2: <a href="#sprint-1">Content Pages</a> !-->
			</div>
		</div>
	</div>
	</div>
</section>

<section id="process" class="callout callout--uncontained callout--gray callout--light-border">
	<div class="callout__container">
		<div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/traceable-overview.jpg" alt="Traceable Redesign Overview" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">The Process</div>
			<div class="callout__title">Transformative Design</div>
			<div class="callout__subtitle">
				Traceable.com is an ecommerce website built with atomic design principles and implemented through agile methology to produce a product that is intentional and transformative.
				<br><br>By being agile in the design process, progressive improvements can be made. Designs will never be perfect the first time around. It is invaluable to have constant client and consumer interaction and feedback that allow for rapid revision and implementation, resulting in a better end product.
				<br><br>
				The Traceable Products interface is essentially made up of small components that can be reused throughout the website. By using atomic design principles and designing with the style guide as a priority, it creates a challenge to stay organized and retain consistency across the entire website experience.
			</div>
		</div>
	</div>
</section>

<section id="sprint-1" class="callout callout--uncontained callout--gray callout--light-border">
	<div class="callout__container">
		<div class="column">
      		<div data-aos="fade" class="column-wrapper column-wrapper--image">
				  <img src="/assets/traceable-homepage.jpg" alt="Traceable Home Page" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">Sprint 1</div>
			<div class="callout__title">Home Page</div>
			<div class="callout__subtitle">
				In addition to ecommerce, Traceable Products has important services like TraceableLive, Calibration Services, and VFC. These were not being properly highlighted in the original home page design. The page was also not responsive or mobile friendly.
				<br><br>
				With the new iteration, I decided to feature the different services in a grid style, with the main product feature on the top. The main challenge in adding these components was keeping the page short and concise, particularly on mobile, so that users have access to all the information they need immediately. 
			</div>
		</div>

		<div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/traceable-nav.jpg" alt="Traceable Nav Bar" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__title">Nav Bar</div>
			<div class="callout__subtitle">
				One of the requirements was to maintain a fixed nav bar. The original design took up too much space with three rows of information. To shorten the height of the nav bar, I eliminated the row of product links and condensed it under the general 'Products' link.
				<br><br>
				On mobile, I decided to redirect the product categories to a new page to create a smooth transition and flow of information from desktop to mobile.
			</div>
		</div>

		<div class="column">
			<div data-aos="fade" class="column-wrapper column-wrapper--image">
				<img src="/assets/traceable-search.jpg" alt="Traceable Search" />
			</div>
		</div>
		<div data-aos="fade" class="callout__info-block callout__info-block--highlight">
			<div class="callout__title">Search</div>
			<div class="callout__subtitle">
				The last major component of the nav bar was to redesign the search. With limited space to work with, I displayed the search icon with a primary background to draw attention to it. Because the search input is only shown upon clicking or tapping, we had to find a way to   The input drops down when the icon is clicked or tapped, and it is fillable upon typing.
				<br><br>
				During testing, a big success in this flow with customer service representatives was the ability to type their search fields without having to click on input. It eliminated one step they had to take care of while on the phone with a customer. They could reach their desired search results faster.
			</div>
		</div>
	</div>
</section>

<!--<section id="sprint-2" class="callout callout--uncontained callout--gray callout--light-border">
	<div class="callout__container">
		<div data-aos="fade-up" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">Sprint 2</div>
			<div class="callout__title">Content Pages</div>
			<div class="callout__subtitle">
				Overinformation.
			</div>
		</div>
	</div>
</section> !-->

{% endblock %}