{% extends "default.html" %}

{% block content %}

<section class="hero hero--column">
	<div class="hero__container">
		<div class="column">
			<div class="column-wrapper column-wrapper--no-hover">
				<div class="column-wrapper__category">
					Marketing & Ecommerce
				</div>
				<div class="column-wrapper__title">
					Traceable Products
				</div>
				<div class="column-wrapper__description">
					are the industry leaders in providing accurate and efficient instruments that use current technology to improve and simplify the attainment of reliable results imperative to biopharmaceutical and healthcare facilities.
					<br>
					<a href="https://www.traceable.com" target="_blank">Visit Website</a>
				</div>
			</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Role
			</div>
			<div class="column-wrapper__title">
				UI/UX and Front-End Development
			</div>
			<div class="column-wrapper__description">
				<span>2017 - Present |</span> Coordinate with full stack engineer to apply <a href="http://atomicdesign.bradfrost.com/" target="_blank">atomic design</a> principles to create a robust and reusable style guide for more consistent and efficient UI.
			</div>
		</div>
		<div class="column-wrapper column-wrapper--no-hover">
			<div class="column-wrapper__category">
				Overview
			</div>
			<div class="column-wrapper__title">
				Website Redesign
			</div>
			<div class="column-wrapper__description">
				The goal is to restructure and solidify the user experience for end users while maintaining the integrity of the brand by implementing <a href="https://agilemethodology.org/" target="_blank">agile methology</a> in the design and development process.
				<br>&rarr; Sprint 1: <a href="#sprint-1">Homepage</a>
			</div>
		</div>
	</div>
	</div>
</section>

<section id="sprint-1" class="callout callout--uncontained callout--gray">
	<div class="callout__container">
		<div data-aos="fade-up" class="callout__info-block callout__info-block--highlight">
			<div class="callout__subheading">The Process</div>
			<div class="callout__title">Transformative Design</div>
			<div class="callout__subtitle">
				Traceable.com is an ecommerce website built with atomic design principles and implemented through agile methology to produce a product that is intentional and transformative.
				<br><br>By being agile in the design process, progressive improvements can be made. Designs will never be perfect the first time around, so it is invaluable to have constant client and consumer interaction and feedback that allow for rapid revision and implementation, resulting in a better end product.
				<br><br>
				The Traceable Products interface is essentially made up of small components that can be reused throughout the website. By using atomic design principles and designing with the style guide as a priority, it creates a challenge to stay organized and retain consistency across the entire website experience.
			</div>
		</div>
		<img data-aos="fade-up" src="/assets/traceable-overview.jpg" alt="Traceable Redesign Overview" />

	</div>
</section>

{% endblock %}